因为涉及到多个stock的计算，如果直接把dataframe传入到`QA.QA_indicator_ATR`

应该是会出问题的，所以打算先试一下单独一个stock

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# import statsmodels.api as sm
import QUANTAXIS as QA
import talib as ta
import datetime #, time

In [2]:
plt.rcParams['figure.figsize'] = [12, 8]
plt.rcParams['image.interpolation'] = 'nearest'
plt.rcParams['image.cmap'] = 'gray'
plt.style.use('ggplot')

In [6]:
code = '000001'
start = '2018-01-01'
end = '2018-12-31'
data = QA.QA_fetch_stock_day_adv(code, start, end).to_qfq()

In [8]:
atr_single = QA.QA_indicator_ATR(data)

In [13]:
atr_single.describe()

               TR         ATR
count  242.000000  229.000000
mean     0.315464    0.315358
std      0.186922    0.110738
min      0.090000    0.173696
25%      0.190000    0.238571
50%      0.270000    0.277857
75%      0.380000    0.382553
max      1.516146    0.636416

In [11]:
ind_single = data.add_func(QA.QA_indicator_ATR)

In [14]:
ind_single.describe()

               TR         ATR
count  242.000000  229.000000
mean     0.315464    0.315358
std      0.186922    0.110738
min      0.090000    0.173696
25%      0.190000    0.238571
50%      0.270000    0.277857
75%      0.380000    0.382553
max      1.516146    0.636416