In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# import statsmodels.api as sm
import tushare as ts
import QUANTAXIS as QA
import talib as ta
import datetime, time

In [4]:
code = '002397'
start = '2015-01-01'
end = '2015-12-31'
df = ts.get_k_data(code, start, end)

In [5]:
df.head()

         date   open  close   high    low   volume    code
0  2015-01-05  4.210  4.262  4.288  4.210  22849.0  002397
1  2015-01-06  4.262  4.279  4.284  4.188  30547.0  002397
2  2015-01-07  4.279  4.244  4.331  4.210  21427.0  002397
3  2015-01-08  4.227  4.210  4.236  4.175  17076.0  002397
4  2015-01-09  4.227  4.149  4.236  4.149  25665.0  002397

In [6]:
df.tail()

           date   open  close    high    low    volume    code
235  2015-12-25  9.667  9.840   9.888  9.619  103625.0  002397
236  2015-12-28  9.869  9.475  10.003  9.465  139316.0  002397
237  2015-12-29  9.417  9.571   9.580  9.273   90032.0  002397
238  2015-12-30  9.600  9.696   9.705  9.504   86177.0  002397
239  2015-12-31  9.638  9.878   9.984  9.638  160993.0  002397